.header__container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1310px;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 5px 10px rgba(255, 0, 0, 0.8);
          box-shadow: 10px 5px 10px rgba(255, 0, 0, 0.8);
  background-color: #ffffff;
}

.menu {
  min-width: 1170px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100px;
  min-height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ff0000;
  -webkit-transition: 2s;
  transition: 2s;
}

.menu__link:hover {
  background-color: #ff0000;
  color: #ffffff;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.main__container {
  min-width: 1310px;
  -webkit-box-shadow: -3px 6px 12px rgba(0, 0, 0, 0.5);
          box-shadow: -3px 6px 12px rgba(0, 0, 0, 0.5);
}
