.header {
  &__container {
    position: sticky;
    top: 0;
    z-index: 80;
    display: flex;
    min-width: 1310px;
    min-height: 100px;
    align-items: center;
    box-shadow: 10px 5px 10px rgba(255, 0, 0, 0.8);
    background-color: #ffffff;
  }
}
.menu {
  min-width: 1170px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
  }

  &__link {
    display: flex;
    min-width: 100px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ff0000;
    transition: 2s;
    &:hover {
      background-color: #ff0000;
      color: #ffffff;
      box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    }
  }
}
