.header {
  &__container {
    box-shadow: 10px 5px 10px rgba(255, 0, 0, 0.8);
  }
}
.menu {
  max-width: 1170px;
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
  }

  &__link {
  }
}
