@import "_header", "_main", "_footer", "_def";
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Aleo:300,300italic,regular,italic,700,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Magra:regular,700&display=swap);

body {
  font-family: aleo;
  font-size: 20px;
}

header,
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
}
